<nav class="navbar">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand">
            <svg viewBox="0 0 1000 200" width="190px" height="50px">
                <path id="curved-path" fill="transparent" d="M 50,150 Q 550,50 1050,150" />
                <text fill="#E50914" font-size="120" font-weight="bold" letter-spacing="25">
                    <textPath href="#curved-path" startOffset="0%">
                        STREAMADA
                    </textPath>
                </text>
            </svg>
        </a>
    </div>
    <button type="button" class="btn btn-outline-danger" (click)="goToLoginComp()">Log In</button>
</nav>

<main class="reset-password-overcontainer">

    <div class="reset-password-cont">
        <h1>Reset password</h1>

        <span>Create a new password for your <b>Streamada</b> account.</span>

        <mat-form-field class="example-full-width">
            <mat-label>Enter new password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="resetPassword"
                #passwordInput="ngModel" placeholder="Set a secure password" required minlength="8"
                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
            <mat-icon matSuffix (click)="togglePasswordVisibility('password')"
                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hidePassword"
                style="cursor: pointer;">
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="passwordInput.errors?.['required'] && passwordInput.touched">
                Password is <strong>required</strong>.
            </mat-error>
            <mat-error
                *ngIf="(passwordInput.errors?.['minlength'] || passwordInput.errors?.['pattern']) && passwordInput.touched">
                Min. 8 characters, must include 1 letter, 1 number, and 1 special character.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Confirm new password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="confirmPassword"
                #confirmPasswordInput="ngModel" placeholder="Repeat the password" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility('confirmPassword')"
                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideConfirmPassword"
                style="cursor: pointer;">
                {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="confirmPasswordInput.errors?.['required'] && confirmPasswordInput.touched">
                Confirm password is <strong>required</strong>
            </mat-error>
            <mat-hint *ngIf="!doPasswordsMatch() && confirmPasswordInput.touched">
                No match
            </mat-hint>
        </mat-form-field>

        <button type="button" class="btn btn-outline-danger">Reset my password</button>
    </div>



</main>