@import './../../colors.scss';
@import 'mediaquery.scss';

.navbar svg {
  max-width: 170px;
  height: 50px;
}

.navbar {
  background-color: rgba($color: #000000, $alpha: 0.88);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  button {
    margin-right: 32px;
    color: white;
    border-color: $net_red;
    flex-shrink: 0;

    &:hover {
      background-color: $net_red;
    }
  }
}

.reset-password-overcontainer {
  position: relative;
  height: calc(100vh - 60px);
  background-image: url(../../assets/login/login_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overflow: hidden;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .reset-password-cont {
    z-index: 2;
    height: 400px;
    width: 460px;
    border-radius: 6px;
    border: 1px solid $net_red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;


    span {
      b {
        color: $net_red;
      }
    }

    input {
      margin-top: 16px;
    }

    button {
      color: white;
      border-color: $net_red;
      width: 248px;

      &:hover {
        background-color: $net_red;
      }
    }

    mat-label {
      margin-top: 68px;
      display: flex;
    }

    mat-error {
      font-size: 12px;
      color: $net_red;
    }

    mat-hint {
      color: $net_red;
    }

  }
}