.logo-container svg {
    width: 75vw;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .logo-container svg {
      width: 70vw; 
    }
  
    .light-bar {
      width: 300vw;
      height: 18vh; 
    }
  
  }
  
  @media (max-width: 480px) {
    .logo-container svg {
      width: 69vw; 
    }
  
    .light-bar {
      width: 400vw; 
      height: 22vh; 
    }
  
  }