<div *ngIf="isVisible" class="streamada-animation">
  <div class="light-bar bar1"></div>
  <div class="light-bar bar2"></div>
  <div class="light-bar bar3"></div>
  <div class="light-bar bar4"></div>
  <div class="light-bar bar5"></div>
  <div class="light-bar bar6"></div>
  <div class="logo-container">
    <svg viewBox="0 0 1100 200" width="650px" height="100px">
      <path id="curved-path" fill="transparent" d="M 50,150 Q 550,50 1050,150" />
      <text fill="#E50914" font-size="130" font-weight="bold" letter-spacing="25">
        <textPath href="#curved-path" startOffset="0%">
          STREAMADA
        </textPath>
      </text>
    </svg>
  </div>
</div>