<nav class="navbar">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand">
            <svg viewBox="0 0 1000 200" width="190px" height="50px">
                <path id="curved-path" fill="transparent" d="M 50,150 Q 550,50 1050,150" />
                <text fill="#E50914" font-size="120" font-weight="bold" letter-spacing="25">
                    <textPath href="#curved-path" startOffset="0%">
                        STREAMADA
                    </textPath>
                </text>
            </svg>
        </a>
    </div>
    <button type="button" class="btn btn-outline-danger" (click)="closeWindow()">
        <span class="material-symbols-outlined">cancel</span>
    </button>

</nav>

<main class="overcontainer-imprint">

    <div class="imprint-content">
        <h2>Imprint</h2>
        <p>
            <strong>Company Name:</strong> Streamada AG <br>
            <strong>Address:</strong> Musterstrasse 123, 8000 Zurich, Switzerland <br>
            <strong>Phone:</strong> +41714567892 <br>
            <strong>Email:</strong> contact&#64;streamada.com <br>
            <strong>Website:</strong> www.streamada.com
        </p>

        <h3>Represented by:</h3>
        <p>Max Musterman (Managing Director)</p>

        <h3>Register Court & Registration Number:</h3>
        <p>
            Register Court: Local Court of Zurich <br>
            Registration Number: HRB 12345
        </p>

        <h3>MWST-Nummer:</h3>
        <p>MWST-Nummer: CHE-123.456.789 MWST</p>

        <h3>Disclaimer:</h3>
        <p>
            We are not responsible for the content of external websites linked to this platform. The operators of linked
            pages are solely responsible for their content.
        </p>

        <button type="button" class="btn btn-outline-danger" (click)="closeWindow()">
            <span class="material-symbols-outlined">cancel</span> Close
        </button>
    </div>


</main>