@media (max-width: 950px) {

    .video-info {
        top: 3% !important;
    }

}

@media (max-width: 890px) {

    .video-info {
        top: 3% !important;
    }

}

@media (max-width: 690px) {
    .video-info {
        top: 1.8% !important;
    }
}

@media (max-width: 590px) {
    .video-info {
        top: 1.8% !important;
        max-width: 50vw !important;

    }
}

@media (max-width: 550px) {
    .video-info {
        top: 1.8% !important;
        max-width: 70vw !important;

    }
}

@media (max-width: 508px) {
    .video-info {
        top: 3.5% !important;
        font-size: 12px !important;
    }
}

@media (max-width: 460px) {
    .video-info {
        top: 5% !important;
        font-size: 15px !important;

        button {
            max-width: 68px !important;
        }
    }

}

@media (max-width: 465px) {
    // Video-Genre Section - Horizontal Fields
.video-genre {
    display: flex;
    flex-direction: column; // Die Genres vertikal anordnen
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  
    // Genre-Container spezifisch für jedes Genre
    .sport-genre,
    .explore-genre,
    .western-genre,
    .crime-genre,
    .abstract-genre {
      width: 100%;
      display: flex;
      flex-direction: column; 
      align-items: flex-start; 
      gap: 10px; 
      padding: 10px;
      background-color: black;
      border-radius: 10px;
  
      h2 {
        margin: 0;
        font-size: 1.5rem;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;
      }
  
      .items-container {
        display: flex;
        flex-direction: column!important;
        gap: 20px;
        flex-wrap: nowrap!important;
        width: 100%;
        padding-left: 10px;
        align-items: center;
      }

      .genre-item {
        width: 200px;
        height: 112.5px;
        background-color: rgba(54, 51, 51, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

@media (max-width: 400px) {
    .navbar {
        button {
            margin-right: 10px!important;
            width: 62px!important;
            font-size: 12px!important;
            &:hover {
                background-color: $net_red;
            }
        }

        .dropdown.show .dropdown-menu {
            position: absolute;
            right: 10px;
            top: 100%;
            margin-top: 3px;
            background-color: $net_red;
          }
    }
}


@media (max-width: 360px) {
    .video-info {
        top: 3% !important;
        font-size: 12px !important;
        max-width: 75vw !important;
    }
}