<nav class="navbar">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand">
            <svg viewBox="0 0 1000 200" width="190px" height="50px">
                <path id="curved-path" fill="transparent" d="M 50,150 Q 550,50 1050,150" />
                <text fill="#E50914" font-size="120" font-weight="bold" letter-spacing="25">
                    <textPath href="#curved-path" startOffset="0%">
                        STREAMADA
                    </textPath>
                </text>
            </svg>
        </a>
    </div>
    <button type="button" class="btn btn-outline-danger" (click)="logoutUser()">
        <span class="material-symbols-outlined">logout</span>Log Out
    </button>

</nav>

<main class="streamada-overview-overcontainer">

    <header class="video-playing-loop-atf">
        <video #backgroundVideo [src]="currentVideoSrc" type="video/mp4" autoplay loop muted class="background-video">
            Your browser does not support the video tag.
        </video>

        <section class="new-on-streamada">
            <div class="title-container">
                <h2>New on <b>Streamada</b></h2>
                <img src="./../../assets/horizontal_scroll1.png" alt="scroll icon" class="title-icon">
            </div>
            <div class="video-container">
                <div class="video-item" *ngFor="let video of videos" (click)="playVideo($event, video.src)">
                    <img [src]="video.thumbnail" [alt]="video.title" class="thumbnail">
                    <div class="hover-dialog">

                        <img [src]="video.thumbnail" [alt]="video.title" class="hover-preview">
                        <h4>{{ video.title }}</h4>
                        <div class="play-button">
                            <button (click)="openMediaPlayer()">&blacktriangleright;</button>
                            <button (click)="playPreview($event, video.src)" type="button"
                                class="btn btn-outline-danger">Preview</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </header>

    <section *ngIf="selectedVideo" class="video-info">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit similique, ad rem ullam temporibus
            sunt. Modi cupiditate molestiae sint magni, aperiam delectus sunt quos, explicabo cum facere deleniti optio
            sapiente!</p>
        <p><strong>Genre:</strong> Documentary</p>
        <button (click)="openMediaPlayer()" class="btn btn-primary">Play</button>
    </section>


    <section class="video-genre">
        <!-- Documentry Genre -->
        <div class="documentary-genre">
            <h2>Documentary</h2>
            <div class="items-container">
                <div *ngFor="let item of items" class="genre-item">{{ item }}</div>
            </div>
        </div>

        <!-- Adventure Genre -->
        <div class="adventure-genre">
            <h2>Adventure</h2>
            <div class="items-container">
                <div *ngFor="let item of items" class="genre-item">{{ item }}</div>
            </div>
        </div>

        <!-- Western Genre -->
        <div class="western-genre">
            <h2>Western</h2>
            <div class="items-container">
                <div *ngFor="let item of items" class="genre-item">{{ item }}</div>
            </div>
        </div>

        <!-- Romance Genre -->
        <div class="romance-genre">
            <h2>Romance</h2>
            <div class="items-container">
                <div *ngFor="let item of items" class="genre-item">{{ item }}</div>
            </div>
        </div>

        <!-- My List Genre -->
        <div class="my-list-genre">
            <h2>My List</h2>
            <div class="items-container">
                <div *ngFor="let item of items" class="genre-item">{{ item }}</div>
            </div>
        </div>
    </section>



    <section class="pp-imprint">
        <div (click)="openPrivacyPolicy()">PrivacyPolicy</div>
        <span>© Streamada 2024</span>
        <div (click)="openImprint()">Imprint</div>
    </section>


</main>