<nav class="navbar">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand">
      <svg viewBox="0 0 1000 200" width="190px" height="50px">
        <path id="curved-path" fill="transparent" d="M 50,150 Q 550,50 1050,150" />
        <text fill="#E50914" font-size="120" font-weight="bold" letter-spacing="25">
          <textPath href="#curved-path" startOffset="0%">
            STREAMADA
          </textPath>
        </text>
      </svg>
    </a>
  </div>
  <button type="button" class="btn btn-outline-danger">Log in</button>
</nav>

<main>


  <div class="over-middle-content-container">
    <h1>Movies, TV shows, and more</h1>
    <span>Watch whenever you want wherever you want</span>
    <p>Enter your email to create or restart your subscription.</p>

    <div class="input-div">
      <input type="text" placeholder="Email Addres">
      <button type="button" class="btn btn-outline-danger">Sign Up</button>
    </div>
  </div>

  <div class="imprint-privacypolicy">
    <span class="imprint">Imprint</span>
    <span class="privacy-policy">Privacy-Policy</span>
  </div>



</main>