.navbar svg {
    max-width: 170px; 
    height: 50px;
  }
  
  .navbar {
    background-color: black;
    opacity: 0.88; 
    margin: 0;
    padding: 0;
  }

  main{
    background-color: #141414;
    height: calc(100vh - 60px);
    background-image: url(../../assets/landingpage/start_screen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
  