<nav class="navbar">
    <div class="container no-max-width d-flex justify-content-between align-items-center">
        <a class="navbar-brand">
            <svg viewBox="0 0 1000 200" width="190px" height="50px">
                <path id="curved-path" fill="transparent" d="M 50,150 Q 550,50 1050,150" />
                <text fill="#E50914" font-size="120" font-weight="bold" letter-spacing="25">
                    <textPath href="#curved-path" startOffset="0%">
                        STREAMADA
                    </textPath>
                </text>
            </svg>
        </a>
    </div>
    <button type="button" class="btn btn-outline-danger" (click)="goToLoginComp()">Log in</button>
</nav>

<main class="forget-password-overcontainer">

    <form class="email-input" (ngSubmit)="onSubmit()" #emailForm="ngForm">
        <h1>Forgot your <br>password?</h1>
        <span class="subtitle">We will send you an email with instructions to reset your password.</span>

        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Your email" [(ngModel)]="email" name="email" #emailInput="ngModel" required
                email>
            <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                Please enter a valid email address that is already registered in our system.
            </mat-error>
        </mat-form-field>

        <div *ngIf="loading" class="spinner-border text-danger" role="status">
            <span class="sr-only material-symbols-outlined">play_pause</span>
        </div>

        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

        <button class="send-btn" type="submit" class="btn btn-outline-danger"
            [disabled]="emailForm.invalid || loading">Send Email</button>
    </form>

    <section *ngIf="showpopup" class="popup-banner">
        <div class="popup-content">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark-check" fill="none" stroke-width="5" stroke="#7EC832" d="M14 27l7 7 16-16" />
            </svg>
            <h1>Success!</h1>
            <p>An email with password reset instructions has been sent. Please check your inbox and spam folder.</p>
            <button (click)="closePopup()">OK</button>
        </div>
    </section>




</main>